{
  "name": "voxcpm2-worker-serverless",
  "imageName": "YOUR_REGISTRY/voxcpm2-worker:latest",
  "isServerless": true,
  "containerDiskInGb": 40,
  "dockerStartCmd": [],
  "env": {
    "MODEL_PATH": "/models/VoxCPM2",
    "PRELOAD_MODEL": "0",
    "PORT": "8011",
    "SALAD_QUEUE_WORKER_ENABLED": "0",
    "RUNPOD_HANDLER_ENABLED": "1",
    "STORAGE_PROVIDER": "inline"
  }
}
